*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(69, 100, 131, 0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.WebContainer{
    width: 100%;
    min-width: 1000px;
    height: auto;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 100px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 38px;
    color: #fff;
}

@media screen and (max-width: 1030px) {
    .nav-links ul li a{
        font-size: 12px;
    }
    .text-box h1{
        font-size: 42px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 18px;
        color: #fff;
    }
}

@media screen and (max-width: 1280px) {
    .nav-links ul li a{
        font-size: 10px;
    }
    .text-box h1{
        font-size: 42px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 10px;
        color: #fff;
        
    }
}

@media screen and (max-width: 1920px) {
    .nav-links ul li a{
        font-size: 15px;
    }
    .text-box h1{
        font-size: 62px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 28px;
        color: #fff;
    }
  }

@media screen and (max-width: 3840px) {
        .nav-links ul li a{
            font-size: 30px;
        }
        .text-box h1{
            font-size: 120px;
        }
        .text-box p{
            margin: 10px 0 40px;
            font-size: 42px;
            color: #fff;
            line-height: 40px;
        }
    }


 .buton{
    margin-bottom: 30px;
    height: 40px;
    font-size: large;
    color:rgb(0, 0, 0);
    font-weight: 400;
    
 }

  
/*-- abonamente --*/

.abonamente{
    background-image: linear-gradient(rgba(162, 165, 179, 0.7),rgba(69, 100, 131, 0.7)),url(images/abonamente.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
section{
    scroll-behavior: smooth;
}
h1{
    font-size: 100px;
    font-weight: bold;
    color: rgb(56, 74, 134);
}
h1.red {
    color:#f44336;
}
p{
    font-weight: bold;
    color: #000000;
    font-size: 50px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

#p1-s {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: bold;
    color: silver;
}
#p1-g {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: bold;
    color: gold;
}

.p2 {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 50px;
    font-weight: 400;
}

.check {
    height : auto;
}


/*-- despre --*/

.despre{
    text-align: center;
    background-image: url(images/despre.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height:auto;

}
h1{
    padding-top: 100px;
}

.p3 {
    font-size: 35px;
    line-height: 40px;
    margin-top: 30px;
    font-weight: 400px;
}

/*-- contact --*/

.contact{
    text-align: center;
    background-image: url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
}
.p4{
    font-size: 50px;
    line-height: 60px;
    margin-top: 40px;
}